language: node_js
node_js:
  - 8
cache:
  - yarn
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.12.0
  - export PATH=$HOME/.yarn/bin:$PATH
script:
  - yarn test
  - yarn build
